page-saved-cv {
    @extend page-discover-hire;
    .nameGrid{
        .col{
            overflow:hidden;
            display:flex;
            align-items:center;
            .icon{
                @include centerHeight(34px);
                color: color($colors,color2)!important;
                margin:0px!important;   
            }
            h4{
                margin: 0px!important;
            }
        }
    }
}
