<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle >
        <ion-icon name="ios-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Company Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="searchPopover('SearchPopoverPage',$event)" >
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="choose" [ngClass]="{'noFooterMargin':choose=='jobs'}">
  <div class="profileContainer">
      <div class="imgBg" [ngStyle]="{'background-image':'url(' + base64Image + ')'}">
        <ion-icon name="ios-camera" (click)="accessGallery()"></ion-icon>
      </div>
      <h5>Company Name</h5>
  </div>
  <div class="profileTabBar" >
    <ion-segment [(ngModel)]="choose">
      <ion-segment-button value="jobs">
        Posted Jobs
      </ion-segment-button>
      <ion-segment-button value="about">
        About US
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Posted Jobs Grid -->
  <div *ngSwitchCase="'jobs'">
    <div class="postedJobs" *ngFor="let x of jobs" >
      <h4>{{x.state}}</h4>
      <ion-grid>
        <ion-row >
          <ion-col col-12 col-md-6 col-lg-4  col-xl-3 
          (click)="goTo('DetailsWorkPage')" *ngFor="let y of x.info">

            <div class="jobContainer">
              <ion-grid>
                <ion-row>
                  <ion-col col-7>
                    <h5>{{y.title}}</h5>
                  </ion-col>
                  <ion-col col-3>
                    <p>1d ago</p>
                  </ion-col>
                  <ion-col col-2 >
                    <ion-icon name="md-more" float-right (click)="appearSmallMenu(y,true,$event)" ></ion-icon>
                  </ion-col>
                </ion-row> 

                <ion-row>
                  <ion-col col-4>
                    <p>Salary <span>{{y.salary}}</span></p>
                  </ion-col>
                  <ion-col col-4>
                    <p text-center>{{y.country}}</p>
                  </ion-col>
                  <ion-col col-4>
                    <p text-right>Valid <span>{{y.validTime}}</span></p>
                  </ion-col>
                </ion-row>

              </ion-grid>

              <p class="someDetails">
                It is a long established fact that a reader will be distracted by the readable.
              </p>
              <p class="applied" (click)="goTo('AppliedPeoplePage');stopPropagation($event)">NO., of applied people 
                <span>{{y.peopleApplied}}</span>   
              <p>


              <!-- Small menu appear when clicked more -->
              <ion-list class="smallMenu" *ngIf="y.appear == true"> 
                <ion-item (click)="goTo('EditPostedJobPage');appearSmallMenu(y,false,$event)">
                  <p>Edit</p>
                </ion-item>
                <ion-item (click)="appearSmallMenu(y,false,$event)">
                  <p>Close</p>
                </ion-item>
                <ion-item (click)="removeItem(x,y);appearSmallMenu(y,false,$event)">
                  <p>Delete</p>
                </ion-item>
              </ion-list>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="noPostedJobs" *ngIf="noItemsOfJobs == true" padding >
      <ion-icon name="ios-warning-outline"></ion-icon>
      <p >No Jobs Posted</p>
    </div>
  </div>
  
  <!-- About Company -->
  <ion-list class="aboutList" *ngSwitchCase="'about'">
    <ion-item class="item1">
      <h4>Apps Design Company</h4>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p>
              <span>Location : </span>
              New York , USA
            </p>
          </ion-col>
          <ion-col col-6>
            <p>
              <span>Since : </span>
              2005
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- Our Services -->
    <ion-item class="item2">
      <h4>Our Service</h4>
      <p >
        <ion-icon ></ion-icon>
        It is along established fact that a reader
      </p>
      <p >
        <ion-icon ></ion-icon>
        It is along established fact that a reader
      </p>
      <p >
        <ion-icon ></ion-icon>
        It is along established fact that a reader
      </p>
    </ion-item>

    <!-- Contact Us -->
    <ion-item class="item3">
      <h4>Contact US</h4>
      <p >
        <ion-icon name="md-pin" ></ion-icon>
         New York , USA
      </p>

      <p >
        <ion-icon name="ios-mail" ></ion-icon>
         apps@info.it
      </p>

      <p >
        <ion-icon name="md-call" ></ion-icon>
         +1 9838775367523
      </p>

    </ion-item>

  </ion-list>

</ion-content>
<ion-footer  [ngClass]="{'addFooter':choose=='jobs'}">
  <ion-icon name="md-add" (click)="goTo('PostANewJobPage')" *ngIf="choose=='jobs'"></ion-icon>
  <button block ion-button color="color1" *ngIf="choose=='about'" (click)="goTo('EditCompanyProfilePage')">Edit Company Profile</button>
</ion-footer> 