page-sign-up {
  .sign {
    .scroll-content {
      > .button-ios {
        margin-top: $mainMarg;
      }

    }
  }
}
#icon2{
  color:  #0878ba;
}
#icon3{
  color:  #0878ba;
}
#icon4{
  color:  #0878ba;
}
#rs1{
  color:#ef1d38;
}
#rs2{
  color:#ef1d38;
}
#rs3{
  color:#ef1d38;
}
#rs4{
  color:#ef1d38;
}
