
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle >
        <ion-icon name="ios-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Messages</ion-title>
    <ion-buttons end>
      <button ion-button (click)="searchPopover($event)" >
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item class="avatarItem" (click)="goTo('ChatPage')" *ngFor="let item of items">
      <ion-avatar item-left>
        <img src="{{item.img}}"/>
      </ion-avatar>
      <ion-grid>
        <ion-row>
          <ion-col col-auto>
            <h4 >{{item.name}}</h4>
          </ion-col>
          <ion-col >
            <p>20 Aug</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>{{item.p}}</p>
      <ion-icon name="ios-close-circle" (click)="removeItem(item,$event)" item-right></ion-icon>
    </ion-item>
  </ion-list>


  <div class="noPostedJobs" *ngIf="noItemsOfMessages == true" padding >
    <ion-icon name="ios-warning-outline"></ion-icon>
    <p >No Message Found</p>
  </div>
</ion-content>
